<h2>Products</h2>

<div class="productsBody">
  <div class="eachProduct" *ngFor="let product of products">

    <h3>
      <a [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>

    <p *ngIf="product.description">
      Description: {{product.description}}
    </p>

    <button type="button" (click)="share()">
      Share
    </button>

    <app-about
      [product]="product"
      (notify)="onNotify()">
    </app-about>

  </div>
</div>
